/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
html,
body {
  overflow: hidden; /* 스크롤을 숨김 */
  height: 100%; /* 전체 높이를 차지하도록 설정 */
}
body {
  background-image: url('../../assets/QuizComponent.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 스크롤이 생겨도 배경 고정 */
  height: 100%;
  margin: 0;
}

.mainContainer {
  /* border: 1px solid black;  */
  position: relative;
  margin: 100px 200px 100px 200px;
}

.characterImage {
  width: 170px;
  height: auto;
  position: absolute;
  top: -95px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.questionBackground {
  position: relative;
  background-color: lightblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionContainer {
  background-color: rgb(210, 230, 236);
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 90%;
}

.question {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.point {
  text-align: right;
  font-family: 'Just Me Again Down Here';
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding-right: 10px;
}

/* OX 스타일 */

.oxContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.trueContainer,
.falseContainer {
  width: 250px;
  height: 120px;
  border-radius: 10px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.trueContainer {
  margin-left: 200px;
}

.falseContainer {
  margin-right: 200px;
}

.trueButton,
.falseButton {
  background-repeat: no-repeat;
  background-position: center;
  font-size: 50px;
}

/* 추가된 스타일 */
.selected {
  background-color: #4caf50; /* 선택된 버튼의 새 배경색 */
}
/* 객관식 스타일 */

.answerContainer {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개의 열 */
  gap: 20px;
}

.choiceButton {
  font-size: 30px;
  border-radius: 10px;
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.choiceButton:hover {
  background-color: blue; /* 마우스를 올렸을 때의 배경색 */
  color: white;
}

.choiceNumber {
  margin-left: 30px;
  width: 50px; /* 선택지 번호 원의 너비 */
  height: 50px; /* 선택지 번호 원의 높이 */
  border-radius: 50%; /* 선택지 번호 원을 동그랗게 만듦 */
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Itim';
  font-weight: bold;
}

.choiceText {
  flex-grow: 1;
}

/* 가장 아래 이동 버튼 */

.buttonContainer {
  display: flex;
  position: absolute;
  justify-content: space-between; /* 버튼을 양 끝으로 정렬 */
  padding: 10px; /* 적당한 여백 제공 */
  margin-bottom: 0;
  top: 40%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.backButton {
  border: none; /* 기본 테두리 제거 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  width: 100px; /* 버튼의 너비 설정 */
  height: 100px; /* 버튼의 높이 설정 */
  background-color: transparent;

  margin-left: 70px;
}
.backButton img:hover,
.frontButton img:hover {
  transform: scale(1.1);
}

.frontButton {
  /* margin-top: auto; */
  border: none; /* 기본 테두리 제거 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  width: 100px; /* 버튼의 너비 설정 */
  height: 100px; /* 버튼의 높이 설정 */
  background-color: transparent;

  margin-right: 70px;
}

.textfield {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputfield {
  width: 50%;
  height: 50px;
  font-size: 20px;
  z-index: 1;
}
