.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 32px;
  color: #585865;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 25px;
  margin-right: 260px;
}

.materialContainer {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.profileimage {
  border: 3px solid #a6a6a6;
  border-radius: 10px;
}