.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  overflow: hidden;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  height: 50%;
  width: 90%;
}

.header {
  background: white;
  width: 70%;
  color: #333;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
}

.chart {
  padding: 20px;
  width: 70%;
  height: auto;
  background-color: #fafafa;
}
