.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pointtitle {
  color: #585865;
  font-size: 40px;
  font-weight: bold;
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 30px;
}

.horizontal {
  display: flex;
  align-items: center;
}

.possibletext {
  color: #585865;
  font-size: 22px;
  font-weight: bold;
}

.possiblemoney {
  color: #202632;
  font-size: 24px;
  font-weight: bold;
}

.textcolor {
  color: #585865;
}

.country {
  font-size: 18px;
  font-weight: bold;
}

.context {
  font-size: 15px;
  font-weight: bold;
}

.money {
  font-size: 18px;
  font-weight: bold;
}
